In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [52]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [ ]:
filenames = []
for file in os.listdir('t20s'):
    filenames.append(os.path.join('t20s',file))

In [ ]:
filenames[:3]

['t20s/1199537.yaml', 't20s/1153860.yaml', 't20s/1197248.yaml']

In [51]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = final_df.append(df)
        counter+=1
        
final_df

 35%|███▌      | 507/1433 [02:59<05:28,  2.82it/s]

NotImplementedError: ignored

In [53]:
backup = final_df.copy()

In [54]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,info.umpires,info.venue,match_id,info.outcome.by.runs,info.neutral_venue,info.outcome.result,info.outcome.method,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",0.9,2019-10-28,1,Abu Dhabi,[2019-10-27],male,T20,980.0,Hong Kong,...,"[Sharfuddoula, RR Wimalasiri]",Tolerance Oval,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2020-03-31,1,Hamilton,[2019-02-10],female,T20,577.0,New Zealand,...,"[Kim Cotton, A Mehrotra]",Seddon Park,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2019-10-01,1,Incheon,[2019-09-20],female,T20,763.0,Japan,...,"[Ryu Roni, Shahid Gill]",Yeonhui Cricket Ground,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Kenya', 'deliveries...",0.9,2013-02-18,1,Nairobi,[2007-09-01],male,T20,NaN,Bangladesh,...,"[R D'Mello, SR Modi]",Gymkhana Club Ground,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-02-25,3,Mirpur,[2016-02-25],male,T20,NaN,Sri Lanka,...,"[AK Chaudhary, Sharfuddoula]",Shere Bangla National Stadium,5,14.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2017-01-21,1,NaN,[2017-01-20],male,T20,NaN,Ireland,...,"[Ahmed Shah Pakteen, BB Pradhan]",Dubai International Cricket Stadium,503,98.0,1.0,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'England', 'deliveri...",0.9,2020-08-29,1,Manchester,[2020-08-28],male,T20,1087.0,NaN,...,"[AG Wharf, M Burns]",Old Trafford,504,NaN,NaN,no result,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2020-03-31,1,Auckland,[2019-02-08],female,T20,576.0,New Zealand,...,"[BF Bowden, A Mehrotra]",Eden Park,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-03-08,1,Nagpur,[2016-03-08],male,T20,NaN,Zimbabwe,...,"[Aleem Dar, IJ Gould]","Vidarbha Cricket Association Stadium, Jamtha",506,14.0,1.0,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2009-08-15,2,London,[2009-06-12],male,T20,NaN,West Indies,...,"[Aleem Dar, RE Koertzen]",Lord's,507,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [55]:
final_df["info.gender"].value_counts()

male      338
female    169
Name: info.gender, dtype: int64

In [56]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],axis = 1,inplace=True)

In [57]:
final_df.shape

(507, 14)

In [58]:
final_df = final_df[final_df["info.gender"]=="male"]
final_df.drop(columns=["info.gender"],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
final_df

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-27],T20,Hong Kong,20,[Mohammad Ghazanfar],"[Hong Kong, Nigeria]",bat,Nigeria,"[Sharfuddoula, RR Wimalasiri]",Tolerance Oval,1
0,"[{'1st innings': {'team': 'Kenya', 'deliveries...",Nairobi,[2007-09-01],T20,Bangladesh,20,[Nazimuddin],"[Kenya, Bangladesh]",field,Bangladesh,"[R D'Mello, SR Modi]",Gymkhana Club Ground,4
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Mirpur,[2016-02-25],T20,Sri Lanka,20,[SL Malinga],"[Sri Lanka, United Arab Emirates]",field,United Arab Emirates,"[AK Chaudhary, Sharfuddoula]",Shere Bangla National Stadium,5
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Barbados,[2010-05-07],T20,Sri Lanka,20,[DPMD Jayawardene],"[West Indies, Sri Lanka]",bat,Sri Lanka,"[RE Koertzen, SJA Taufel]","Kensington Oval, Bridgetown",8
0,"[{'1st innings': {'team': 'India', 'deliveries...",Mirpur,[2016-02-24],T20,India,20,[RG Sharma],"[Bangladesh, India]",field,Bangladesh,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Australia', 'delive...",Johannesburg,[2007-09-18],T20,Pakistan,20,[Misbah-ul-Haq],"[Australia, Pakistan]",field,Pakistan,"[MR Benson, NJ Llong]",New Wanderers Stadium,502
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",NaN,[2017-01-20],T20,Ireland,20,[GC Wilson],"[Ireland, Scotland]",field,Scotland,"[Ahmed Shah Pakteen, BB Pradhan]",Dubai International Cricket Stadium,503
0,"[{'1st innings': {'team': 'England', 'deliveri...",Manchester,[2020-08-28],T20,NaN,20,NaN,"[England, Pakistan]",field,Pakistan,"[AG Wharf, M Burns]",Old Trafford,504
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",Nagpur,[2016-03-08],T20,Zimbabwe,20,[V Sibanda],"[Hong Kong, Zimbabwe]",field,Hong Kong,"[Aleem Dar, IJ Gould]","Vidarbha Cricket Association Stadium, Jamtha",506
0,"[{'1st innings': {'team': 'India', 'deliveries...",London,[2009-06-12],T20,West Indies,20,[DJ Bravo],"[India, West Indies]",bat,India,"[Aleem Dar, RE Koertzen]",Lord's,507

In [60]:
final_df["info.overs"].value_counts()

20    337
50      1
Name: info.overs, dtype: int64

In [61]:
final_df = final_df[final_df["info.overs"]==20]
final_df.drop(columns=["info.overs","info.match_type"],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [62]:
final_df.shape

(337, 11)

In [63]:
import pickle
pickle.dump(final_df,open("datset_lavel1.pkl","wb"))

In [64]:
matches = pickle.load(open("datset_lavel1.pkl","rb"))

In [66]:
matches

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-27],Hong Kong,[Mohammad Ghazanfar],"[Hong Kong, Nigeria]",bat,Nigeria,"[Sharfuddoula, RR Wimalasiri]",Tolerance Oval,1
0,"[{'1st innings': {'team': 'Kenya', 'deliveries...",Nairobi,[2007-09-01],Bangladesh,[Nazimuddin],"[Kenya, Bangladesh]",field,Bangladesh,"[R D'Mello, SR Modi]",Gymkhana Club Ground,4
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Mirpur,[2016-02-25],Sri Lanka,[SL Malinga],"[Sri Lanka, United Arab Emirates]",field,United Arab Emirates,"[AK Chaudhary, Sharfuddoula]",Shere Bangla National Stadium,5
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Barbados,[2010-05-07],Sri Lanka,[DPMD Jayawardene],"[West Indies, Sri Lanka]",bat,Sri Lanka,"[RE Koertzen, SJA Taufel]","Kensington Oval, Bridgetown",8
0,"[{'1st innings': {'team': 'India', 'deliveries...",Mirpur,[2016-02-24],India,[RG Sharma],"[Bangladesh, India]",field,Bangladesh,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,9
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Australia', 'delive...",Johannesburg,[2007-09-18],Pakistan,[Misbah-ul-Haq],"[Australia, Pakistan]",field,Pakistan,"[MR Benson, NJ Llong]",New Wanderers Stadium,502
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",NaN,[2017-01-20],Ireland,[GC Wilson],"[Ireland, Scotland]",field,Scotland,"[Ahmed Shah Pakteen, BB Pradhan]",Dubai International Cricket Stadium,503
0,"[{'1st innings': {'team': 'England', 'deliveri...",Manchester,[2020-08-28],NaN,NaN,"[England, Pakistan]",field,Pakistan,"[AG Wharf, M Burns]",Old Trafford,504
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",Nagpur,[2016-03-08],Zimbabwe,[V Sibanda],"[Hong Kong, Zimbabwe]",field,Hong Kong,"[Aleem Dar, IJ Gould]","Vidarbha Cricket Association Stadium, Jamtha",506
0,"[{'1st innings': {'team': 'India', 'deliveries...",London,[2009-06-12],West Indies,[DJ Bravo],"[India, West Indies]",bat,India,"[Aleem Dar, RE Koertzen]",Lord's,507

In [69]:
len(matches.iloc[0]["innings"][0]["1st innings"]["deliveries"])

122

In [ ]:
# protiti match er jonno 1st innings er ball bay ball data extract

In [70]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = delivery_df.append(loop_df)

In [71]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Hong Kong, Nigeria]",Nigeria,0.1,Sulaimon Runsewe,K Christie,1,0,Abu Dhabi,Tolerance Oval
1,2,"[Hong Kong, Nigeria]",Nigeria,0.2,D Ajekun,K Christie,0,0,Abu Dhabi,Tolerance Oval
2,2,"[Hong Kong, Nigeria]",Nigeria,0.3,D Ajekun,K Christie,0,0,Abu Dhabi,Tolerance Oval
3,2,"[Hong Kong, Nigeria]",Nigeria,0.4,D Ajekun,K Christie,0,0,Abu Dhabi,Tolerance Oval
4,2,"[Hong Kong, Nigeria]",Nigeria,0.5,D Ajekun,K Christie,0,0,Abu Dhabi,Tolerance Oval
...,...,...,...,...,...,...,...,...,...,...
119,338,"[India, West Indies]",India,19.2,Harbhajan Singh,DJ Bravo,1,0,London,Lord's
120,338,"[India, West Indies]",India,19.3,IK Pathan,DJ Bravo,0,IK Pathan,London,Lord's
121,338,"[India, West Indies]",India,19.4,Harbhajan Singh,DJ Bravo,4,0,London,Lord's
122,338,"[India, West Indies]",India,19.5,Harbhajan Singh,DJ Bravo,4,0,London,Lord's
123,338,"[India, West Indies]",India,19.6,Harbhajan Singh,DJ Bravo,4,0,London,Lord's

In [72]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [73]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [74]:
delivery_df.drop(columns=['teams'],inplace=True)

In [75]:
delivery_df['batting_team'].unique()

array(['Nigeria', 'Kenya', 'Sri Lanka', 'India', 'West Indies',
       'Maldives', 'Ireland', 'England', 'New Zealand', 'Australia',
       'South Africa', 'Netherlands', 'Malaysia', 'Zimbabwe', 'Canada',
       'Singapore', 'Pakistan', 'Afghanistan', 'United Arab Emirates',
       'Hong Kong', 'Scotland', 'Ghana', 'Bangladesh', 'Nepal',
       'Thailand', 'United States of America', 'Namibia', 'Jersey',
       'Isle of Man', 'Guernsey', 'Bermuda', 'Denmark', 'Uganda', 'Oman',
       'Vanuatu', 'Cayman Islands', 'Papua New Guinea', 'Norway', 'Iran',
       'Germany', 'Italy', 'Belgium'], dtype=object)

In [76]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [77]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [79]:
delivery_df.shape

(20909, 10)

In [80]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [81]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,5,Sri Lanka,West Indies,0.1,0,0,Barbados,"Kensington Oval, Bridgetown"
1,5,Sri Lanka,West Indies,0.2,1,0,Barbados,"Kensington Oval, Bridgetown"
2,5,Sri Lanka,West Indies,0.3,0,0,Barbados,"Kensington Oval, Bridgetown"
3,5,Sri Lanka,West Indies,0.4,0,0,Barbados,"Kensington Oval, Bridgetown"
4,5,Sri Lanka,West Indies,0.5,1,0,Barbados,"Kensington Oval, Bridgetown"
...,...,...,...,...,...,...,...,...
119,338,India,West Indies,19.2,1,0,London,Lord's
120,338,India,West Indies,19.3,0,IK Pathan,London,Lord's
121,338,India,West Indies,19.4,4,0,London,Lord's
122,338,India,West Indies,19.5,4,0,London,Lord's
123,338,India,West Indies,19.6,4,0,London,Lord's

In [82]:
pickle.dump(output,open('dataset_level2.pkl','wb'))